.xpro-theme-builder-frontend {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    pointer-events: none;
    direction: ltr;
}

.admin-bar .xpro-theme-builder-frontend {
    top: 13px
}

.xpro-theme-builder-wrapper {
    position: relative;
    height: 100vh;
    padding: 50px 0;
    display: inline-block;
}

.xpro-theme-builder-wrapper.active {
    pointer-events: auto
}

.xpro-theme-builder-wrapper > svg {
    width: 100%;
    height: auto;
    line-height: 1
}

.xpro-theme-builder-wrapper button:focus{
    outline: none;
}

.xpro-theme-builder-draggable {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.xpro-theme-builder-side-panel {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 15px;
    z-index: 2
}

.xpro-theme-builder-tab-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.xpro-theme-builder-wrapper .xpro-main-toggle {
    min-width: 80px;
    min-height: 75px;
    height: 75px;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    background: -o-linear-gradient(300.96deg, #ee3a7b 15.42%, #9c396d 87.4%);
    background: linear-gradient(.414turn, #ee3a7b 15.42%, #9c396d 87.4%);
    -webkit-box-shadow: 2px 2px 20px 0 rgb(0 0 0/8%);
    box-shadow: 2px 2px 20px 0 rgb(0 0 0/8%);
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    pointer-events: all
}

.xpro-main-toggle > svg {
    width: 40px
}

.xpro-theme-builder-nav {
    padding: 20px;
    height: 100%;
    background-color: #f8f8ff;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    transition: -webkit-transform .2s linear;
    -webkit-transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    -webkit-box-shadow: 2px 2px 20px 0 rgb(0 0 0/8%);
    box-shadow: 2px 2px 20px 0 rgb(0 0 0/8%)
}

.xpro-theme-builder-wrapper.active .xpro-theme-builder-nav {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.xpro-theme-builder-close-icon {
    position: relative;
    padding: 0;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.xpro-theme-builder-close-icon .xpro-close-icon {
    width: 20px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-close-button {
    position: relative;
    padding: 0;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background: #e7e7f8;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.xpro-theme-builder-close-button > svg {
    width: 14px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-expand-button {
    position: relative;
    padding: 0;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.xpro-theme-builder-wrapper .xpro-theme-builder-expand-button:hover,
.xpro-theme-builder-wrapper .xpro-theme-builder-expand-button:focus{
    background-color: inherit;
    color: inherit;
}

.xpro-theme-builder-expand-button > svg {
    width: 15px;
    transition: -webkit-transform .1s linear;
    -webkit-transition: -webkit-transform .1s linear;
    -o-transition: transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear
}

.xpro-theme-builder-wrapper.expanded .xpro-theme-builder-expand-button > svg {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.xpro-theme-builder-tab-list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer
}

.xpro-theme-builder-tab-list > li > svg {
    width: 30px
}

.xpro-theme-builder-tab-list > li.active {
    background: -o-linear-gradient(top, #c92b62, #8a3881);
    background: -webkit-gradient(linear, left top, left bottom, from(#c92b62), to(#8a3881));
    background: linear-gradient(180deg, #c92b62, #8a3881)
}

.xpro-theme-builder-tab-list > li.active > .xpro-theme-builder-nav-label {
    color: #fff
}

.xpro-theme-builder-tab-list > li.active > svg * {
    fill: hsla(0, 0%, 100%, .7490196078431373)
}

.xpro-theme-builder-tab-list > #settings.active svg * {
    stroke: hsla(0, 0%, 100%, .7490196078431373)
}

.xpro-theme-builder-tab-list > li:last-child {
    margin-bottom: 0
}

.xpro-theme-builder-tab-list > li > .xpro-theme-builder-nav-label {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
}

.xpro-theme-builder-wrapper .xpro-theme-builder-content-panel{
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}

.xpro-theme-builder-content-panel {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    height: calc(100% - 95px);
    max-height: 100%;
    background-color: #f8f8ff;
    border-radius: 20px;
    min-width: 400px;
    max-width: 100%;
    width: 550px;
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    -webkit-box-shadow: 2px 2px 20px 0 rgb(0 0 0/8%);
    box-shadow: 2px 2px 20px 0 rgb(0 0 0/8%);
    transition: -webkit-transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.xpro-theme-builder-wrapper.active .xpro-theme-builder-content-panel {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.xpro-theme-builder-content-header-title {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.xpro-theme-builder-content-header-title > h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    margin: 0
}

.xpro-theme-builder-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.xpro-theme-builder-content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    height: 100%;
    overflow: hidden
}

.xpro-theme-builder-filter-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    grid-column-gap: 15px;
    column-gap: 15px;
    margin-bottom: 20px
}

.xpro-theme-builder-filter-area .xpro-theme-builder-filter-button {
    background: #f8f8ff;
    border: 1px solid #bebeda;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 12px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    text-transform: capitalize;
    position: relative
}

.xpro-theme-builder-filter-area .xpro-theme-builder-filter-button:hover{
    background: #f8f8ff;
    border: 1px solid #bebeda;
}

.xpro-theme-builder-filter-icon {
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #eef;
    pointer-events: none
}

.xpro-theme-builder-filter-icon > svg {
    position: relative;
    width: 12px;
    margin-top: 2px
}

.xpro-theme-builder-filter-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    pointer-events: none
}

.xpro-theme-builder-filter-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #9595bd;
    margin-bottom: 3px
}

.xpro-theme-builder-filter-value {
    font-size: 12px;
    color: #646464
}

.xpro-theme-builder-filter-dropdown {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 10px;
    z-index: 9;
    text-align: left;
    top: calc(100% + 5px);
    left: 0;
    grid-gap: 5px;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0/8%);
    box-shadow: 0 0 5px rgb(0 0 0/8%);
    color: #2b2b2b;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: auto;
    grid-template-columns:auto;
    width: 100%;
    pointer-events: none
}

.xpro-theme-builder-filter-dropdown > li {
    font-size: 14px;
    pointer-events: all;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.xpro-theme-builder-filter-dropdown > li:hover {
    color: #fff;
    background: #d14895
}

.xpro-theme-builder-filter-dropdown > li.active {
    color: #8686c8;
    background: #f8f8ff;
    pointer-events: none
}

.xpro-theme-builder-search-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    grid-column-gap: 15px;
    column-gap: 15px;
    margin-bottom: 30px
}

.xpro-theme-builder-search {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    position: relative
}

.xpro-theme-builder-wrapper .xpro-theme-builder-search > input {
    width: 100%;
    font-size: 12px;
    padding: 10px 30px;
    border: none;
    border-bottom: 1px solid #f2f2f2
}

.xpro-theme-builder-wrapper .xpro-theme-builder-search > input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #b3b3e0
}

.xpro-theme-builder-wrapper .xpro-theme-builder-search > input::-webkit-input-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-search > input:-ms-input-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-search > input::-moz-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-search > input::-ms-input-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-search > input::placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-search > svg {
    width: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.xpro-theme-builder-layouts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    grid-column-gap: 10px;
    column-gap: 10px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-layouts button {
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: .5;
    padding: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.xpro-theme-builder-wrapper .xpro-theme-builder-layouts button.active,
.xpro-theme-builder-wrapper .xpro-theme-builder-layouts button:hover {
    opacity: 1
}

.xpro-theme-builder-wrapper .xpro-theme-builder-layouts button:hover,
.xpro-theme-builder-wrapper .xpro-theme-builder-layouts button:focus{
    background: inherit;
    color: inherit;
}

.xpro-theme-builder-layouts button > svg {
    width: 20px
}

.xpro-theme-builder-new-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    grid-column-gap: 15px;
    column-gap: 15px;
    margin-bottom: 10px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #d6d6ec
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > input::-webkit-input-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > input:-ms-input-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > input::-moz-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > input::-ms-input-placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > input::placeholder {
    color: #a8a8a8
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > input:focus {
    outline: 1px solid #b3b3e0
}

.xpro-theme-builder-wrapper .xpro-theme-builder-new-post > button {
    height: 45px;
    width: 65px;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: -o-linear-gradient(359.45deg, #c92b62 -4.06%, #8a3881 98.58%);
    background: linear-gradient(90.55deg, #c92b62 -4.06%, #8a3881 98.58%)
}

.xpro-theme-builder-new-post > button > svg {
    width: 18px
}

.xpro-theme-builder-posts-wrapper {
    text-align: center;
    margin: 15px 0;
    padding: 0 5px 5px;
    overflow: auto
}

.xpro-theme-builder-wrapper ::-webkit-scrollbar-track {
    background-color: #f8f8ff
}

.xpro-theme-builder-wrapper ::-webkit-scrollbar {
    width: 7px;
    background-color: #f8f8ff
}

.xpro-theme-builder-wrapper ::-webkit-scrollbar-thumb {
    background: #d9d9f0;
    border-radius: 50px
}

.xpro-theme-builder-posts-wrapper > ul {
    text-align: left;
    padding: 0;
    list-style: none;
    margin: 0
}

.xpro-theme-builder-post-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    padding: 15px;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    grid-column-gap: 15px;
    column-gap: 15px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow .2s linear;
    transition: -webkit-box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
    transition: box-shadow .2s linear, -webkit-box-shadow .2s linear
}

.xpro-theme-builder-post-item:not(.xpro-theme-builder-post-publish) .xpro-theme-builder-post-title:after {
    content: attr(data-status);
    font-size: 10px;
    line-height: 1;
    text-transform: capitalize;
    padding: 4px 10px;
    background-color: #f8f8ff;
    border-radius: 50px;
    display: inline-block;
    margin-left: 10px;
    color: #9595bd
}

.xpro-theme-builder-post-item:hover {
    -webkit-box-shadow: 0 2px 14px -10px rgb(0 0 0/80%);
    box-shadow: 0 2px 14px -10px rgb(0 0 0/80%);
    border-color: transparent
}

.xpro-theme-builder-post-list-style-list .xpro-theme-builder-post-item-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1
}

.xpro-theme-builder-post-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    text-decoration: none;
    color: #2b2b2b;
    margin: 0
}

.xpro-theme-builder-post-meta {
    display: block;
    font-size: 11px;
    margin-top: 5px;
    font-weight: 400;
    color: #b7b7dc;
    text-transform: capitalize
}

.xpro-theme-builder-wrapper .xpro-theme-builder-post-meta > a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out
}

.xpro-theme-builder-post-meta > a:hover {
    color: #ee3a7b
}

.xpro-theme-builder-post-meta-separator {
    display: inline-block;
    margin: 0 3px
}

.xpro-theme-builder-post-item-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.xpro-theme-builder-wrapper .xpro-theme-builder-post-item-links > button {
    border: none;
    border-radius:0;
    background-color: transparent;
    width: 50px;
    height: 18px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    line-height: 30px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding:0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.xpro-theme-builder-post-item:hover .xpro-theme-builder-post-item-links > button {
    opacity: 1;
    visibility: visible
}

.xpro-theme-builder-post-item-links > button:hover,.xpro-theme-builder-post-item-links > button:focus{
    background: inherit;
    color: inherit;
}

.xpro-theme-builder-post-item-links > button:not(:last-child) {
    border-right: 1px solid #d9d9d9
}

.xpro-theme-builder-post-item-links > button > svg {
    width: 16px;
    fill: #8e8e8e;
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out
}

.xpro-theme-builder-post-item-links > button:hover > svg {
    fill: #ee3a7b
}

.xpro-theme-builder-not-found {
    display: inline-block;
    padding: 12px 20px;
    font-size: 12px;
    line-height: 1;
    background-color: #f8f8ff;
    border-radius: 10px
}

.xpro-theme-builder-loader-loader, .xpro-theme-builder-loader-loader:after, .xpro-theme-builder-loader-loader:before {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s ease-in-out infinite;
    animation: load7 1.8s ease-in-out infinite
}

.xpro-theme-builder-loader-loader {
    color: #eef;
    font-size: 5px;
    margin: 5px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.xpro-theme-builder-loader-loader:after, .xpro-theme-builder-loader-loader:before {
    content: "";
    position: absolute;
    top: 0
}

.xpro-theme-builder-loader-loader:before {
    left: -3.5em;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.xpro-theme-builder-loader-loader:after {
    left: 3.5em
}

@-webkit-keyframes load7 {
    0%, 80%, to {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0
    }
}

@keyframes load7 {
    0%, 80%, to {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0
    }
}

.xpro-theme-builder-post-list-style-thumbnail {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    grid-column-gap: 20px;
    column-gap: 20px;
    grid-row-gap: 20px;
    row-gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.xpro-theme-builder-post-list-style-thumbnail > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: 180px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #eef;
    min-width: 200px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1
}

.xpro-theme-builder-post-list-style-thumbnail > li:hover {
    border: 1px solid #eef
}

.xpro-theme-builder-post-list-style-thumbnail .xpro-theme-builder-post-item-links {
    margin-top: 10px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-back-btn {
    height: 35px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    line-height: 1;
    border-radius: 10px;
    background: #ededff;
    border: 1px solid #bebeda;
    cursor: pointer
}

.xpro-theme-builder-wrapper .xpro-theme-builder-back-btn:hover,
.xpro-theme-builder-wrapper .xpro-theme-builder-back-btn:focus{
    background: inherit;
    color:inherit;
}

.xpro-theme-builder-back-btn > svg {
    width: 20px;
    line-height: 1
}

.xpro-themer-builder-post-form {
    overflow: auto;
    height: 100%;
    padding: 0 30px;
    margin: 0 -30px;
}

.xpro-themer-builder-post-form .xpro-theme-builder-input {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1;
}

.xm-0 {
    margin: 0 !important
}

.xpro-themer-builder-post-form-title {
    font-size: 14px;
    line-height: 1;
    padding: 0 5px;
    font-weight: 400;
    margin: 0 0 10px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-input > input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    border: 1px solid #d6d6ec;
    background-color: #fff;
}

.xpro-theme-builder-wrapper .xpro-theme-builder-input > input:focus {
    outline: 1px solid #b3b3e0
}

.xpro-theme-builder-location-wrapper {
    margin-bottom: 30px
}

.xpro-theme-builder-location-inner > div {
    margin-bottom: 15px
}

.xpro-theme-builder-location-remove-btn {
    height: 35px;
    width: 35px;
    margin: 2px 0 0 8px;
    padding:0;
    line-height: 1;
    border-radius: 10px;
    background: #ededff;
    border: 1px solid #bebeda;
    cursor: pointer;
}

.xpro-theme-builder-location-remove-btn > svg {
    width: 14px
}

.xpro-theme-builder-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.xpro-theme-builder-location-inner {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1
}

.xpro-theme-builder-wrapper .xpro-theme-builder-location-add-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #d34896;
    color: #d34896;
    font-size: 13px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.xpro-theme-builder-wrapper .xpro-theme-builder-location-add-btn:hover {
    color: #fff;
    background-color: #d34896
}

.xpro-theme-builder-form-actions {
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 15px;
    gap: 15px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-action-btn {
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    line-height: 1;
    text-decoration: none;
    border: 1px solid #8a8ab4;
    color: #2b2b2b;
    background-color: #fbfbfe;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 10px;
    gap: 10px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.xpro-theme-builder-wrapper .xpro-theme-builder-action-btn:hover {
    background-color: #f1f1f1
}

.xpro-theme-builder-action-btn > svg {
    width: 20px
}

.xpro-theme-builder-wrapper .xpro-theme-builder-form-submit-btn {
    padding: 12px 20px;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    line-height: 1;
    border: 1px solid #d34896;
    color: #fff;
    background-color: #d34896;
    cursor: pointer;
    margin-top: 15px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.xpro-theme-builder-wrapper .xpro-theme-builder-form-submit-btn:hover {
    color: #d34896;
    background-color: transparent
}

.xpro-theme-builder-form-submit-btn .xpro-theme-builder-loader-loader {
    margin-top: -18px
}

.xpro-theme-builder-alert {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #dcdcf4;
    border-radius: .25rem;
    color: #8686c8;
    background-color: #edecff;
    font-size: 13px;
    margin-top: 20px
}

.xpro-theme-builder-resize-handle {
    height: 50px;
    background-color: #d9d9ef;
    position: absolute;
    right: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: e-resize;
    padding: 10px 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

.xpro-theme-builder-resize-handle:before {
    content: "||";
    color: #8686c8
}

.xpro-theme-builder-error {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 20px
}

.xpro-theme-builder-error > img {
    width: 110px;
    max-width: 100%;
    margin-bottom: 20px
}

.xpro-theme-builder-error-title {
    font-size: 20px;
    margin: 0;
    color: #db3978
}

.xpro-theme-builder-error-description {
    margin: 15px 0
}

.xpro-theme-builder-settings {
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background: -o-linear-gradient(300.96deg, #ee3a7b 15.42%, #9c396d 87.4%);
    background: linear-gradient(.414turn, #ee3a7b 15.42%, #9c396d 87.4%)
}

.xpro-theme-builder-coming-soon {
    max-width: 400px
}

.xpro-theme-builder-coming-soon > h2 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff
}

.xpro-theme-builder-coming-soon > h2 > span {
    font-weight: 500
}

@media screen and (max-height: 800px) {
    .xpro-theme-builder-wrapper {
        padding: 30px 0
    }

    .xpro-theme-builder-content-panel {
        height: 100%
    }

    .xpro-theme-builder-tab-list > li > svg {
        width: 25px
    }

    .xpro-theme-builder-tab-list > li {
        margin-bottom: 5px;
        padding: 10px
    }
}

@media screen and (max-width: 1025px) {
    .xpro-theme-builder-frontend{
        display: none !important;
        visibility: hidden !important;
    }
}