.xpro-theme-builder-header-nav{
    position: relative;
    z-index: 99;
}

.xtb-header-sticky.xtb-appear .xpro-theme-builder-header-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -15px rgb(0 0 0 / 35%);
    box-shadow: 0 10px 10px -15px rgb(0 0 0 / 35%);
    border-color: transparent;
}

.admin-bar .xtb-appear .xpro-theme-builder-header-nav{
    top: 32px;
}

.xpro-hidden {
    display: none
}

@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/*Astra Compatibility*/
.ast-container .xpro-theme-builder-archive-wrapper{
    width: 100%;
}

.ast-container .xpro-theme-builder-singular-wrapper{
    width: 100%;
}

/*GeneratePress Compatibility*/

.theme-generatepress .xpro-theme-builder-archive-wrapper{
    width: 100%;
}

.theme-generatepress .xpro-theme-builder-singular-wrapper{
    width: 100%;
}